---
layout: page
title: Minnovate UMN
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">MINNOVATE UMN</h1>
          <p class="animated fadeInUp">For the mission to cultivate student innovation.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Who we are</h2>
            <p>Bridging the gap between academia and industry</p>
          </div>
          <p>Minnovate has three main goals. First, we strive to cultivate student innovation at the University of Minnesota. Not only do we hope to innovate within the confines of our campus, but it is our hope that what you learn with us will serve you in your future endeavors, impacting the world.
          <p>Our second goal is to create a community of students, professionals, and businesses. Through challenges and cases, we look to connect students to professionals and businesses of all types, in order to bridge the gap between academics and the working world.</p>
          <p>Finally, our biggest endeavor is to build student capabilities and provide resources for entrepreneurship. We believe that entrepreneurship can be a lonely journey. Not only do we want to connect our students with other, like minded students, but we want to provide resources to level up your do-it-yourself skills.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/minnovate.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN CULTIVATING STUDENT INNOVATION</h2>
      <p>Through challenging cases and innovation challenges every academic year, we look to stretch our member's aptitudes for novel solutions and breaking down complex problems to develop whole solutions.</p>
      <p>Our events can help set you apart from your peers in the job recruiting stage of your college career, giving you something to show off. We believe that the real life experience we can offer you will level up not only your technical skills, but your soft skills too.</p>
      <p>Click below to view some of the work we've done in the past and get an idea of what we're all about.</p>
      <a href="{{ site.baseurl }}/work" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Endless Opportunities</h2>
          <p>When you join Minnovate, you will gain access to numerous opportunities for hands on, real world experience.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-flash"></i>
          <h4>Arduinos/Circuits</h4>
          <p>Build out microcontrollers and develop digital devices with real world application.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-laptop"></i>
          <h4>Computer Aided Design</h4>
          <p>Not enough real world CAD experience in school? We'll use SolidWorks to tap into your creative side.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-scissors"></i>
          <h4>Laser Cutting</h4>
          <p>Scratch your design and mechanical itch by doing some CNC machining.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-printer"></i>
          <h4>3D Printing</h4>
          <p>Make anything under the sun with this transformative technology. Get a foot in the door with this high-flying industry.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-lightbulb"></i>
          <h4>Ideation and Prototyping</h4>
          <p>Develop your skills in taking an idea to actuality.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-checkmark"></i>
          <h4>Quality Testing</h4>
          <p>Stretch your statistical legs and find the coveted six sigma.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-link"></i>
          <h4>Networking</h4>
          <p>Gain soft skills through teamwork, and get exposure to the professional industry.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Identity</h4>
          <p>Develop a greater sense of passion through hands-on projects.</p>
        </div>
      </div>
    </div>
  </div>
</section
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Interested? Join us.</h2>
          <p>Applications to join our Industry Readiness Program are open, join us next spring!</p>
          <a class="btn btn-default btn-call-to-action" href="join" >Join Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>What Industry Professionals Say About Us</h2>
        <p>We've had the honor of connecting with professionals who are passionate about what we're doing at Minnovate, and we will continue to grow our network, starting with you.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
